DB/TuVanTuyenSinh_log.ldf
DB/TuVanTuyenSinh.mdf
WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
WindowsFormsApplication1/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe
