USE [master]
GO
/****** Object:  Database [TuVanTuyenSinh]    Script Date: 17/12/2017 21:02:57 ******/
CREATE DATABASE [TuVanTuyenSinh] ON  PRIMARY 
( NAME = N'TuVanTuyenSinh', FILENAME = N'D:\DSS\DB\TuVanTuyenSinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TuVanTuyenSinh_log', FILENAME = N'D:\DSS\DB\TuVanTuyenSinh_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuVanTuyenSinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuVanTuyenSinh]
GO
/****** Object:  Table [dbo].[Truong]    Script Date: 17/12/2017 21:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truong](
	[MaTruong] [nchar](5) NOT NULL,
	[TenTruong] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[BQL] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenSinh]    Script Date: 17/12/2017 21:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenSinh](
	[MaTruong] [nchar](5) NOT NULL,
	[Nam] [int] NOT NULL,
	[ChiTieu] [int] NOT NULL,
	[SLDaTuyen] [int] NOT NULL,
 CONSTRAINT [PK_TuyenSinh] PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [BQL], [Website]) VALUES (N'ANH  ', N'Học viện An ninh Nhân dân', N'Km9 đường Nguyễn Trãi, Q.Hà Đông, Hà Nội.', N'Bộ Quốc Phòng', N'http://hvannd.edu.vn')
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [BQL], [Website]) VALUES (N'BKA  ', N'Đại học Bách khoa Hà Nội', N'Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội', N'Bộ GD & ĐT', N'https://hust.edu.vn/')
INSERT [dbo].[Truong] ([MaTruong], [TenTruong], [DiaChi], [BQL], [Website]) VALUES (N'BVH  ', N'Học Viện Công Nghệ Bưu Chính Viễn Thông ( Phía Bắc )', N'Km10 Đường Nguyễn Trãi, Quận Hà Đông, Hà Nội', N'Bộ GD & ĐT', N'http://portal.ptit.edu.vn/')
GO
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu], [SLDaTuyen]) VALUES (N'ANH  ', 2013, 20, 20)
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu], [SLDaTuyen]) VALUES (N'ANH  ', 2014, 20, 20)
INSERT [dbo].[TuyenSinh] ([MaTruong], [Nam], [ChiTieu], [SLDaTuyen]) VALUES (N'ANH  ', 2015, 25, 25)
GO
USE [master]
GO
